.container {
  width: 66%;
  height: 518px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  }
  
  @media (max-width: 966px) {
    .container {
      flex-direction: column;
      height: auto;
      justify-content: center;
      padding: 0;
    }
  }
  
  @media (max-width: 1120px) {
    .container {
      width: 90%;
    }
  }
  
  .content {
    width: 28rem;
    display: flex;
    flex-direction: column;
  }
  
  .content h1 {
    color: var(--color-primary);
    width: 28rem;
    line-height: 45px;
  }
  
  .content h2 {
    color: var(--color-tertiary); 
    width: fit-content;
  }
  
  .content p {
    max-width: 28rem;
    margin: 2rem 0;
    color: var(--color-primary); 
  }
  
  @media (max-width: 966px) {
    .content {
      align-items: center;
      text-align: center;
    }
  }
  
  .image {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  
  .image img {
    object-fit: cover;
    width: 24.7rem;
    height: 33.8rem;
  }
  
  .image img:first-of-type {
    left: -12rem;
    top: 12rem;
    z-index: 2;
    position: absolute;
  }
  
  @media (max-width: 996px) {
    .image {
      display: none;
    }
  }
  