.container {
  width: 66%;
  height: auto;
  min-height: 70.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.3rem;
  margin-top: 12.8rem;
}

@media (max-width: 1120px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 9rem;
  }
}

.top {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 840px) {
  .top {
    flex-direction: column;
  }

  .top h1 {
    text-align: center;
  }
}

.form {
  display: grid;
  width: 100%;
  max-width: 500px;
  gap: 20px;
  font-size: var(--font-size-large); 
}

.input, .select {
  font-size: var(--font-size-medium); 
  width: 100%;
  height: 8rem;
  border-radius: var(--border-radius);
  outline: none;
  padding: 0 1.5rem;
  color: var(--color-primary);
  font-weight: var(--font-weight-extrabold); 
  background-color: var(--color-highlight-light);
  border: none;
}

.submitButton {
  width: 100%;
  height: 5rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--color-black); 
  background-color: var(--color-secondary); 
  font-size: var(--font-size-medium); 
  font-weight: var(--font-weight-bold); 
  padding: 0 1.3rem;
}

.submitButton:active {
  box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.option {
  color: var(--color-primary);
  font-weight: var(--font-weight-extrabold); 
  background-color: var(--color-highlight-light);
  border-bottom: 1px dashed var(--color-primary); 
}

.option:checked, .option:hover {
  color: var(--color-white); 
  background-color: var(--color-primary) !important; 
}

.formMessageError {
  color: red;
  margin-top: -2rem;
}
