.container {
    width: 66%;
    height: 100vh;
    min-height: 59rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.3rem;
    padding-top: 4rem;
    position: relative; /* For the ::before pseudo-element */
  }
  
  .container::before {
    content: '';
    width: 100%;
    height: 100vh;
    min-height: 59rem;
    position: absolute;
    background-color: rgba(251, 218, 187, .3);
    z-index: -1;
  }
  
  /* Add responsive styles */
  @media (max-width: 1120px) {
    .container {
      width: 90%;
      min-height: 100rem;
    }
  
    .container::before {
      min-height: 100rem;
    }
  }
  
  @media (max-width: 606px) {
    .container {
      height: auto;
    }
  
    .container::before {
      height: auto;
      min-height: 190rem;
    }
  }
  
  .title {
    width: 100%;
    text-align: center;
  }
  
  .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }
  
  @media (max-width: 840px) {
    .cards {
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 606px) {
    .cards {
      align-items: center;
      flex-direction: column;
    }
  }
  