/* Specials.module.css */

.container {
    width: 66%;
    height: auto;
    min-height: 70.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.3rem;
  }
  
  @media (max-width: 1120px) {
    .container {
      width: 90%;
    }
  }
  
  .top {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  
  .topButton {
    width: fit-content;
  }
  
  @media (max-width: 840px) {
    .top {
      flex-direction: column;
    }
  
    .top h1 {
      text-align: center;
    }
  }
  
  .cards {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
  }
  
  @media (max-width: 840px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
  }
  