.container {
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .ul_nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  
  .ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    flex-direction: column;
    font-size: xx-large;
  }
  .basketIcon {
    max-width: 3.5rem;
  }
  .logo{
    width: 139px;
  }
  .button {
    border: none;
    background-color: transparent;
    width: 33px;
  }
  
  .menu {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-white); /* Ensure you define this variable in your global.css */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    overflow: hidden;
  }
  
  .menuOpened {
    transform: translateX(0);
  }
  
  .menuButton {
    position: fixed;
    left: 5rem;
    top: 3rem;
    border: none;
    background-color: transparent;
  }
  
  .menuImg {
    max-width: 3.5rem;
  }
  
  .orderBtn {
    padding: 1rem 1.5rem;
    color: var(--color-white);
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
  }
  
  @media (max-width: 768px) {
    .container {
      display: block;
    }
  }
  